{% extends "layout.html" %}

{% block content %}


<h2 style="color:mediumturquoise ">

    Project explanation page:

</h2>
<h3>
    My project is about the budget of the films and whether they influence the popularity of the film.
I did the work both at school and at home. I enjoyed doing the fun of creating something of your own to shape it and give it "meaning".
I learned a lot from working first and foremost about the field I chose and also how to work with the flask and how to change and create things only with code writing. 
</h3>

<div class="row">
    <div class="col-md-7">
        <img src="https://coronadousd.net/static/media/uploads/CoSA/stock-footage-film-rolling-out-of-a-film-reel.jpg" width="260" height="160">
    </div>

</div>


{% endblock %}