{% extends "layout.html" %}

{% block content %}

<h2>{{title}}</h2>
<h3>{{ message }}</h3>

<div class="row">
    <div class="col-md-7">
        Every movie created has a budget. The budget is the money spent on creating and producing the film.
        There are large sums and there are small sums.
        In addition, after the films are produced and produced in theaters around the world, there is something called the popularity of the film which is the amount of movie viewing and its exposure.
        I'm interested to see if the size of the budget affects the amount of popularity of the movie.
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4"> <img src="https://media-cdn.tripadvisor.com/media/photo-s/0f/60/c6/f3/the-light-cinema-screen.jpg" width="200" height="120"> </div>
    <div class="col-md-4"> <img src="https://cdn5.vectorstock.com/i/1000x1000/35/29/movie-reel-popcorn-and-3d-glasses-movie-night-vector-25863529.jpg" width="200" height="120"> </div>
    <div class="col-md-4"> <img src="https://i.pinimg.com/originals/d5/f2/1e/d5f21ee93522c34b0b765459f957c8d1.jpg" width="120" height="120"> </div>
</div>
<br />

<div class="row" style="">
    <div class="col-md-4"><strong>Dataset's name</strong></div>
    <div class="col-md-4"><strong>Short explanation</strong></div>
    <div class="col-md-4"><strong>Link to the dataset</strong></div>
</div>
<br />

<div class="row">
    <div class="col-md-4">movies_metadata</div>
    <div class="col-md-4">The budget,the popularity, the name of the movies and information abot the movies</div>
    <div class="col-md-4"><a href="{{ url_for('DataSet1') }}">Go to the dataset about the movies </a></div>
</div>


{% endblock %}
