{% extends "layout.html" %}

{% block content %}



<div class="jumbotron" style="background-color:dodgerblue ">
    <h2>Impact budget on movie popularity</h2>
    <p class="lead">
        Eden's Flask Project
    </p>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>What is it?</h2>
        <p>
            Every movie that exists has a budget that is contingent on it before producing the movie to make it come out well.
            And when it comes out, there is a number of popularity of the film, ie the amount of views it has been given around the world.
            And I wanted to know if budget size really affects movie popularity.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Why I chose this topic?</h2>
        <p>
            I chose this topic because it is a topic that I am very attached to.
            Throughout my life this topic has interested me, my family has been engaged in it and I have always looked with interest in their work.
            I am in the cinema, so in addition to this I also deal with the subject and make films, write them and execute them.
            I really like watching movies and of course expressing my opinion on them at the end but the fun part is watching.
            So it was of great interest to me to also know the behind the movies and budget matters or the things that happen after the publishing.
        </p>
    </div>
   
</div>

<div class="row">
    <div class="col-md-6">
        <img src="https://i.pinimg.com/originals/d5/f2/1e/d5f21ee93522c34b0b765459f957c8d1.jpg" width="260" height="160">
    </div>
    <div class="col-md-6">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/0f/60/c6/f3/the-light-cinema-screen.jpg" width="260" height="160">
    </div>
</div>




{% endblock %}
